@import '../helpers/mixins.scss';
@import '../helpers/responsive.scss';

body.wedding {
    font-size: 19px;

    nav {
        .nav-wrapper {
            @extend .navy;

            ul.main-nav {
                display: none;
            }
        }
    }

    .side-nav-button {
        display: none;
    }

    i.material-icons {
        @extend .mint-text;
    }


    .sub-nav {
        background-color: #0FDFD8;
    }

    .brand-logo {
        @extend .center;
        @extend .mint-text;

        @include respond-to(phone) {
            font-size: 20px;
        }
    }

    .hero-text {
        color: white;
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        text-align: center;
        font-size: 4vw;
        position: relative;
        font-family: 'Oswald',sans-serif;
        letter-spacing: 10px;
        font-weight: 400;
        text-transform: uppercase;
        z-index: 10;
        opacity: .9;
        padding-top: 20vh;

        @include respond-to(tablet) {
            font-size: 8vw;
            font-weight: 600;
            -webkit-text-stroke-width: 2px;
        }

        @include respond-to(phone) {
            font-size: 5vh;
            font-weight: 800;
            -webkit-text-stroke-width: 2px;
        }
    }

    .parallax-container {
        height: 60vh;
        width: 100%;

        &.first {
            height: 70vh;

            .parallax {
                img {
                    background-size: cover;
                    background-position-y: 50%;
                    display: block;
                }
            }
        }

        @include respond-to(computer) {
            height: 60vh;
        }

        @include respond-to(tablet) {
            height: 50vh;
        }

        @include respond-to(phone) {
            height: 30vh;
        }
    }

    .parallax img {
        width: 100%;
        min-width: 768px;
    }

    .info {
        margin: 20px;
    }

    .fancy-af {
        font-family: 'Grand Hotel';
        font-size: 5rem;
    }

    .fixed-action-btn {
        .btn-floating {
            background-color: #3D6799 !important;

            i.fa-arrow-up {
                color: #cbfeff;
            }
        }
    }

    .flex-container {
        display: flex;
        align-content: space-around;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;

        .flex-item {
            justify-content: center;
            align-content: center;
            align-items: center;

            img {
                width: 200px;
                margin: 10px;
            }
        }
    }
}
