<div class="parallax-container first">
    <div class="parallax">
        <img src="img/detroit.jpg" />
    </div>
</div>
<div class="section white">
    <div class="row container center-align">
        <div class="avatar avatar-overlap">
            <img alt="" src="img/jeremy.jpg">
        </div>
        <div class="info">
            <div class="title">
                <a target="_blank" href="http://jeremydrager.com">Jeremy Drager</a>
            </div>
            <div class="desc">Amatuer Skater</div>
            <div class="desc">Amatuer Brewer</div>
            <div class="desc">Pro-am Developer</div>
        </div>
        <div class="bottom">
            <a class="btn btn-floating btn-twitter waves-effect" href="https://twitter.com/jdrager">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-floating btn-plus waves-effect" rel="publisher" href="https://plus.google.com/u/0/+JeremyDrager/posts">
                <i class="fa fa-google-plus"></i>
            </a>
            <a class="btn btn-floating btn-facebook waves-effect" rel="publisher" href="https://www.facebook.com/jdrager">
                <i class="fa fa-facebook"></i>
            </a>
            <a class="btn btn-floating btn-git waves-effect" rel="publisher" href="https://github.com/jdrager">
                <i class="fa fa-code-fork"></i>
            </a>
        </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax">
        <img src="img/gulp.png">
    </div>
</div>
<div id="technology" class="section white content-card">
    <div class="row container valign-wrapper">
        <div class="col s12 m6 center-align valign">
            <h2 class="header">Technology</h2>
            <p class="grey-text text-darken-3 lighten-3">I am a software engineer, focusing primarily on the .NET stack.  This website was built in Visual Studio 2015 RC using Angular.js, Gulp, Sass, and NPM.</p>
            <a href="https://github.com/jdrager" class="btn btn-flat waves-effect" onclick="Materialize.toast('Coming soon!', 4000)">Check me out on Github</a>
        </div>
        <img src="img/nottechnology.jpg" class="z-depth-1 col s6 hide-on-small-only" />
    </div>
</div>
<div class="parallax-container">
    <div class="parallax">
        <img src="img/slapshot.jpg">
    </div>
</div>
<div id="brewing" class="section white content-card">
    <div class="row container valign-wrapper">
        <img src="img/keg.jpg" class="z-depth-1 col s6 hide-on-small-only" />
        <div class="col s12 m6 center-align valign">
            <h2 class="header">Brewing</h2>
            <p class="grey-text text-darken-3 lighten-3">I started homebrewing with my friend John in October 2014.  We've elevated to Kegs and All-Grain brewing.  It's a constant battle: Stouts vs IPAs.</p>
            <a class="btn btn btn-flat waves-effect" onclick="Materialize.toast('Coming soon!', 4000)">Visit our brewing site</a>
        </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax">
        <img src="img/kfalcs.jpg">
    </div>
</div>
<div id="hockey" class="section white content-card">
    <div class="row container valign-wrapper">
        <div class="col s12 m6 center-align valign">
            <h2 class="header">Hockey</h2>
            <p class="grey-text text-darken-3 lighten-3">I captain a Rec League Hockey Team called the Kamikaze Falcons.  The team started in 2012 and we are in our 7th season.</p>
            <a class="btn btn-flat waves-effect" onclick="Materialize.toast('Coming soon!', 4000)">Go To KamikazeFalcons.com</a>
        </div>
        <img src="img/celly.jpg" class="z-depth-1 center-align col s6 hide-on-small-only" />
    </div>
</div>
<div class="parallax-container">
    <div class="parallax">
        <img src="img/wings.jpg">
    </div>
</div>
<div id="wedding" class="section white content-card">
    <div class="row container valign-wrapper">
        <img src="img/me-and-melissa.jpg" class="z-depth-1 center-align col s6 hide-on-small-only" />
        <div class="col s12 m6 center-align valign">
            <h2 class="header">Wedding</h2>
            <p class="grey-text text-darken-3 lighten-3">I am marrying my fiancée Melissa next summer.  We'll be getting married at the Packard Proving Grounds on May 20<sup>th</sup>, 2015.</p>
            <a class="btn btn btn-flat waves-effect" href="/#wedding">Check out our wedding site!</a>  <!--onclick="Materialize.toast('Coming soon!', 4000)"-->
        </div>
    </div>
</div>
<div class="scroll-to-top fixed-action-btn fade out" style="bottom: 30px; right: 30px;">
    <a class="btn btn-floating btn-large blue darken-2 waves-effect waves-light" onclick="smoothScroll('#body', 1000)">
        <i class="fa fa-arrow-up"></i>
    </a>
</div>