<div class="section white">
    <div class="container center-align">
      <div class="avatar avatar-overlap">
        <img alt="" src="../assets/img/smile.jpg">
      </div>
      <div class="info">
        <div class="title">
          <a target="_blank" href="http://jeremydrager.com">Jeremy Drager</a>
        </div>
        <div class="desc">Amatuer Skater</div>
        <div class="desc">Amatuer Brewer</div>
        <div class="desc">Pro-am Developer</div>
      </div>
      <social-buttons></social-buttons>
    </div>
  </div>