<div class="social-btns">
    <a class="btn btn-floating btn-twitter waves-effect" href="https://twitter.com/jdrager">
      <fa-icon [icon]="twitter"></fa-icon>
    </a>
    <a class="btn btn-floating btn-git waves-effect" rel="publisher" href="https://github.com/jdrager">
      <fa-icon [icon]="github"></fa-icon>
    </a>
    <a class="btn btn-floating btn-linkedin waves-effect" rel="publisher" href="https://www.linkedin.com/in/jdrager">
      <fa-icon [icon]="linkedin"></fa-icon>
    </a>
    <a class="btn btn-floating btn-instagram waves-effect" rel="publisher" href="https://www.instagram.com/jdrager22/">
      <fa-icon [icon]="instagram"></fa-icon>
    </a>
    <a class="btn btn-floating btn-facebook waves-effect" rel="publisher" href="https://www.facebook.com/jdrager">
      <fa-icon [icon]="facebook"></fa-icon>
    </a>
  </div>