<navbar></navbar>
<sidenav></sidenav>
<main>
  <parallax image="assets/img/detroit.jpg"></parallax>
  <hero></hero>
  <parallax image="assets/img/dev.png"></parallax>
  <div id="technology" class="section white content-card">
    <div class="row container valign-wrapper">
      <div class="col s12 m6 center-align valign">
        <h2 class="header">Technology</h2>
        <p class="grey-text text-darken-3 lighten-3">I am a Technology Team Leader, focused primarily in modern web
          development and the .NET stack. This website was built using Angular 8 and Materialize in VS Code and deployed
          to AWS using S3, Cloudfront, and CircleCI.</p>
        <a href="https://github.com/jdrager" class="btn btn-flat waves-effect">Check me out on Github</a>
      </div>
      <img src="../assets/img/nottechnology.jpg" class="z-depth-1 col s6 hide-on-small-only" />
    </div>
  </div>
  <parallax image="assets/img/slapshot.jpg"></parallax>
  <div id="brewing" class="section white content-card">
    <div class="row container valign-wrapper">
      <img src="assets/img/keg.jpg" class="z-depth-1 col s6 hide-on-small-only" />
      <div class="col s12 m6 center-align valign">
        <h2 class="header">Brewing</h2>
        <p class="grey-text text-darken-3 lighten-3">I started homebrewing with my friend John in October 2014. I'm now
          his assitant to the regional brewmaster. One of these days, I'll convince him to take the next step and open
          his own brewery.</p>
        <a class="btn btn btn-flat waves-effect" onclick="Materialize.toast('Coming soon!', 4000)">Visit the JFlo
          Brewing Co. website</a>
      </div>
    </div>
  </div>
  <parallax image="assets/img/kfalcs.jpg"></parallax>
  <div id="hockey" class="section white content-card">
    <div class="row container valign-wrapper">
      <div class="col s12 m6 center-align valign">
        <h2 class="header">Hockey</h2>
        <p class="grey-text text-darken-3 lighten-3">I started playing hockey in 2012, starting the Kamikaze Falcons, a
          Rec League Hockey team in Metro Detroit. Since then, we've started our self-ran draft league--Monday Night
          Lights--that I co-manage, as well as run a team</p>
        <a class="btn btn-flat waves-effect" href="http://kamikazefalcons.com">Check out the KFalcs Schedule</a>
        <a class="btn btn-flat waves-effect" href="https://mnlhl.com/">Check out Monday Night Lights Hockey League</a>
      </div>
      <img src="assets/img/shot.JPG" class="z-depth-1 center-align col s6 hide-on-small-only" />
    </div>
  </div>
  <parallax image="assets/img/keg-win.jpg"></parallax>
  <div id="life" class="section white content-card">
    <div class="row container valign-wrapper">
      <img src="assets/img/melissa.jpg" class="z-depth-1 center-align col s6 hide-on-small-only" />
      <div class="col s12 m6 center-align valign">
        <h2 class="header">Life</h2>
        <p class="grey-text text-darken-3 lighten-3">I live in Berkley, MI with my amazing wife Melissa and our dog
          Hank. We enjoy tacos, beer, and video games.</p>
        <div class="conversation">
          <blockquote>You need to advertise me more.</blockquote>
          <blockquote style="border-left-color:cadetblue">What does that mean?</blockquote>
          <blockquote>Just say more nice things!</blockquote>
        </div>
        <p class="grey-text text-darken-3 lighten-3">She's nice.</p>
      </div>
    </div>
  </div>
  <return-to-top-arrow></return-to-top-arrow>
</main>