.avatar {
    position: relative;

    &.avatar-overlap {
        top: -60px;
        margin-bottom: -65px;
    }

    & img {
        width: 150px;
        height: 150px;
        max-width: 200px;
        max-height: 200px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 5px solid rgba(255,255,255,0.5);
    }
}

.info {
    margin-bottom: 15px;
}
