$font-stack: 'Roboto', 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-weight: 300;
$primary-color: #333;


$mint: #cbfeff;
$navy: #3D6799;
$twitter-blue: #55acee;
$plus-red: #DC4C40;
$facebook-blue: #3a5795;
$git-gray: #F5F5F5;

$phone: 320px;
$tablet: 680px;
$computer: 1024px;